body {
    color: white;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    border: 5px rgb(238, 169, 191) double;
   
    
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px
}


h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
    font-weight: bold;
}

nav a {
    background-color: pink; 
    overflow: hidden;
    border: 10px pink solid;
    position:sticky;
    overflow:hidden;

}

img {
    border: 10px rgb(241, 210, 220) double;
    zoom: 100%;
    float left;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(238, 169, 191) ;
    
}

.container {
    padding: 5px;
    margin: 5px

}

@media (min-width: 1000px) { 
    body {
 background-color: lightgray;
   }
}

@media(max-width: 600px) {
    body {
    background-color: pink;
    color: black;
    }
}

@media(min-width: 601px) {
    body {
    background-color: palevioletred;
    margin: 50px;
    }
}