body {
    color: black;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px
}


h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
    font-weight: bold;
}

hr { 
    margin: 10px
}

link {
    font-size: 20px;
}

img {
    border: 10px rgb(241, 210, 220) double;
    zoom: 100%;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(238, 169, 191) ;
}

.container {
    padding: 5px;
    background-color:white;
    margin: 5px

}

.center {
  text-align: center;
}

@media (min-width: 1000px) { 
    body {
 background-color: lightgray;
   }
}

@media(max-width: 600px) {
    body {
    background-color: pink;
    }
}

@media(min-width: 601px) {
    body {
    background-color: palevioletred;
    margin: 50px;
    }
}