body {
    color: gray;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

img {
    border: 5px pink solid;
    margin: 10px;
    zoom: 100%;
 
    
}

.text-container {
    display: flex;
}

@media (max-width: 600px) { 
    body {
 background-color: lightgray;
   }
}

@media(max-width: 1000px) {
    body {
    background-color: pink;
    }
}