body {
    color: black;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

img {
    border: 10px rgb(238, 169, 191) double;
    margin: 10px;
    zoom: 100%;
    
}

    * {
      box-sizing: border-box;
    }

.text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(238, 169, 191) ;
}

@media (min-width: 1000px) { 
    body {
 background-color: lightgray;
   }
}

@media(max-width: 600px) {
    body {
    background-color: pink;
    }
}

@media(min-width: 601px) {
    body {
    background-color: palevioletred;
    margin: 50px;
    }
}